@define-color foreground #91a7bc;
@define-color foreground-inactive #314f6c;
@define-color background #142331;
@define-color background-alt #0f3153;
@define-color Border #293549;
@define-color trayborder #143454;

* {
    font-family: Mononoki Nerd Font;
    font-size: 14px;
    padding-left: 1;
    padding-right: 1;
    padding-top: 1.5;
    padding-bottom: 1.5;
    margin-left: 3;
    margin-right: 3;
    margin-top: -4px;
    margin-bottom: -3px;
}

#waybar {
    color: @foreground;
    background-color: @background;
    border-bottom: 2.5px solid @Border;
}

/* Left */

#tray {
    background-color: @trayborder;
    border: 0.6px solid @foreground-inactive;
    border-radius: 10px;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}


#custom-separator {
    color: @foreground-inactive;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin: 0px;
}

#bluetooth {
    background-color: @trayborder;
    border: 0.6px solid @foreground-inactive;
    border-radius: 10px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/* tray / c-separator / bluetooth */
#net {
    background-color: @background-alt;
    border: 1px solid @foreground-inactive;
    border-radius: 5px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-right: 1px solid @foreground-inactive;
}

#window {
    background-color: @background-alt;
    border: 1px solid @foreground-inactive;
    border-radius: 5px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Middle */

#mpris {
    background-color: @background-alt;
    border: 1px solid @foreground-inactive;
    border-radius: 5px;
    padding-left: 0.9em;
    padding-right: 0.9em;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Right */

#wireplumber {
    background-color: @background-alt;
    border: 1px solid @foreground-inactive;
    border-radius: 5px;
    padding-left: 0.6em;
    padding-right: 0.6em;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#clock {
    background-color: @background-alt;
    border: 1px solid @foreground-inactive;
    border-radius: 5px;
    padding-left: 0.6em;
    padding-right: 0.6em;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
}